*{
  font-size: 12pt;
}
.App {
  text-align: center;
}
.workout-card {
  border: 0.063rem;
  border: solid;
  border-radius: 2rem;
  padding: 1rem;
  margin:1rem;
  height: 12.5rem;
}
.workout-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
}






.cart-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.cart-container:hover .cart-dropdown {
  opacity: 1;
  visibility: visible;
}


#workoutPic{
  width: 6rem;
  height: 6rem;
  float: left;
}
#clear{
  clear:both;
}

