*{
  font-size: 12pt;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.workout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
}
.cart-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.cart-container:hover .cart-dropdown {
  opacity: 1;
  visibility: visible;
}

#clear{
  clear:both;
}

